.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

.header-light {
  background: url("../assets/header/bg-desktop-light.jpg");
  background-size: cover;
}

.header-night {
  background: url("../assets/header/bg-desktop-dark.jpg");
  background-size: cover;
}

.main {
  flex: 1;
}

.main-light {
  color: hsl(var(--clr-dark-very-grayish-blue));
  background-color: hsl(var(--clr-light-very-grayish-blue));
}

.main-night {
  color: hsl(var(--clr-light-very-gray));
  background-color: hsl(var(--clr-dark-blue));
}

.todo {
  position: absolute;
  top: 8%;
  bottom: 0;
  margin: auto 0;
  width: 100%;
}

.header-todo {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(var(--clr-light-very-gray));
  margin-bottom: 50px;
}

.title-app {
  letter-spacing: 11px;
}

.switch-theme {
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

/* .switch-theme */
.switch-theme-light {
  background: url("../assets/icon-sun.svg");
}

.switch-theme-night {
  background: url("../assets/icon-moon.svg");
}

.input-todo {
  width: 600px;
  height: 65px;
  outline: none;
  padding: 3px 15px;
  border-radius: 6px;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
}

.input-todo-light {
  color: hsl(var(--clr-light-dark-grayish-blue));
  background-color: hsl(var(--clr-light-very-gray));
}

.input-todo-night {
  color: hsl(var(--clr-light-very-grayish-blue));
  background-color: hsl(var(--clr-dark-very-desaturated-blue));
}

.list-todo,
.filter {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  border-radius: 6px 6px 0 0;
  /* box-shadow: 0px 19px 53px -17px hsl(var(--clr-light-grayish-blue));
  -webkit-box-shadow: 0px 19px 53px -17px hsl(var(--clr-light-very-grayish-blue));
  -moz-box-shadow: 0px 19px 53px -17px hsl(var(--clr-light-very-grayish-blue)); */
}

.list-todo__item{
  height: 65px;
  padding: 3px 25px 3px 15px;
  font-size: 20px;
  border-bottom: 1px solid hsl(var(--clr-light-dark-grayish-blue));
  display: flex;
  align-items: center;
}

.list-todo__item-light {
  color: hsl(var(--clr-light-dark-grayish-blue));
  background-color: hsl(var(--clr-light-very-gray));
}

.list-todo__item-night {
  color: hsl(var(--clr-light-very-grayish-blue));
  background-color: hsl(var(--clr-dark-very-desaturated-blue));
}

.todo__item{
  margin-right: auto;
  cursor: pointer;
}

.list-todo__item:hover .delete{
  display: block;
}

.todo-checkbox{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.todo-undone-light,
.todo-undone-night {
  text-decoration: none;
}

.todo-done-light,
.todo-done-night {
  text-decoration: line-through;
}

.todo-done-light{
  color: hsl(var(--clr-light-grayish-blue));
}

.todo-undone-light{
  color: hsl(var(--clr-light-dark-grayish-blue));
}

.todo-done-night{
  color: hsl(var(--clr-dark-grayish-blue));
}

.todo-undone-night{
  color: hsl(var(--clr-light-very-grayish-blue));
}

.delete{
  cursor: pointer;
  display: none;
  font-size: 25px;
}

.list-todo__item:first-child{
  border-radius: 6px 6px 0 0;
}

.filter {
  justify-content: space-between;
  font-size: 16px;
  color: hsl(var(--clr-light-black-gray));
}

.filter-button_wrapper {
  display: flex;
  width: 70%;
}

.filter-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  font-size: 16px;
}

.active{
  color: hsl(var(--clr-light-blue));

}

.clear-btn {
  margin-left: auto;
  margin-right: 0;
}

