.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

.header-light {
  background: url("../assets/header/bg-desktop-light.jpg");
  background-size: cover;
}

.header-night {
  background: url("../assets/header/bg-desktop-dark.jpg");
  background-size: cover;
}

.main {
  flex: 1;
}

.main-light {
  color: hsl(var(--clr-dark-very-grayish-blue));
  background-color: hsl(var(--clr-light-very-gray));
}

.main-night {
  color: hsl(var(--clr-light-very-gray));
  background-color: hsl(var(--clr-dark-very-desaturated-blue));
}

.todo {
  position: absolute;
  top: 8%;
  bottom: 0;
  margin: auto 0;
  width: 100%;
}

.header-todo {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(var(--clr-light-very-gray));
  margin-bottom: 50px;
}

.title-app {
  letter-spacing: 11px;
}

.switch-theme {
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

/* .switch-theme */
.switch-theme-light {
  background: url("../assets/icon-sun.svg");
}

.switch-theme-night {
  background: url("../assets/icon-moon.svg");
}

.input-todo {
  width: 600px;
  height: 65px;
  outline: none;
  padding: 3px 15px;
  border-radius: 6px;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
}
